//Large mobile
@media screen and (max-width: 425px) {

    body, .banner{
        min-height: 100%;
    }
    .info{
        padding: 1.5rem ;
        width: 90%;
        transform: translateX(5%);

        p{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        a{
            padding-top: .6rem;
            font-size: 1.1rem;
        }
        i{
            top: 3.4rem;
            font-size: 1.3rem;
        }

    }
    
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        .side1{
            display: none;
        }
        .side2{
            align-items: center;
            p{
                text-align: center;
                font-size: 1.3rem;
            }
            h2{
                font-size: 3rem;
                text-align: center;
            }
        }
        input{
            margin-top: 1.5rem;
        }
    }

    main{
        display: flex;
        height: auto;
        flex-direction: column;
        .part1{
            padding: 1rem 0;
            form{
                width: 95%;
                margin: 1rem 0;;
                .row{
                    padding: .5rem 0;
                    .left-row{
                        padding-right: 0;
                        h5{
                            font-size: .8rem;
                        }
                    }
                    .right-r{
                        label{
                            font-size: 1rem;
                        }
                    }

                }

                .calc-btn{
                    width: 92% !important;
                    height: 50px;
                    margin: 1rem 0;
                    transform: translateX(0)
                }
        
            }
        }

        .part2{
            form{
                width: 95%;
                .row{
                    padding: .6rem .6rem;
                    .left-row{
                        padding-right: 1.5rem;
                        h5{
                            font-size: 1rem;
                        }
                    }

                    .right-r{
                        h6{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }

    footer{
        display: flex;
        justify-content: center;        
        height: 10vh;
        align-items: center;
        margin-top: 1rem;
    }
}

//medium mobile
@media screen and (max-width: 375px) {

    body, .banner{
        min-height: 100%;
    }

    .info{
        padding: 1.4rem ;
        width: 90%;
        transform: translateX(5%);

        p{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        a{
            padding-top: .6rem;
            font-size: 1.1rem;
        }
        i{
            top: 3.4rem;
            right: 1.5rem;
            font-size: 1.3rem;
        }

    }
    
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        .side1{
            display: none;
        }
        .side2{
            align-items: center;
            p{
                text-align: center;
                font-size: 1.3rem;
            }
            h2{
                font-size: 3rem;
                text-align: center;
            }
        }
        input{
            margin-top: 1.5rem;
        }
    }

    main{
        display: flex;
        height: auto;
        flex-direction: column;
        .part1{
            padding: 1rem 0;
            form{
                width: 95%;
                margin: 1rem 0;;
                .row{
                    padding: .5rem 0;
                    .left-row{
                        padding-right: 0;
                        h5{
                            font-size: .8rem;
                            height: 5vh;
                        }
                    }
                    .right-r{

                        input[type="text"]{
                            width: 100%;
                            
                        }
                    }

                }

                .calc-btn{
                    width: 90% !important;
                    height: 50px;
                    margin: 1rem 0;
                    transform: translateX(0)
                }
        
            }
        }

        .part2{
            form{
                width: 95%;
                .row{
                    padding: .6rem .6rem;
                    .left-row{
                        padding-right: 1.5rem;
                        h5{
                            font-size: 1rem;
                        }
                    }

                    .right-r{
                        h6{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }

    footer{
        display: flex;
        justify-content: center;        
        height: 10vh;
        align-items: center;
        margin-top: 1rem;
    }
}